/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1, h2 {
    color: #007BFF;
    margin-bottom: 15px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Checklist styles */
.checklist {
    margin-top: 20px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.checklist table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.checklist th, .checklist td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.checklist th {
    background-color: #007BFF;
    color: white;
}

.checklist td {
    background-color: #f9f9f9;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    input[type="text"] {
        width: calc(100% - 18px);
        padding: 8px;
        font-size: 14px;
    }
}
